.panel { position:absolute; z-index:1; overflow:auto }


#panelAction { top:0; left:0px; right:0; height:40px; overflow:hidden; background:linear-gradient(to bottom, #666e92 0%,#3c4460 50%,#12192b 100%) } /* converted from area_action */


#panelList { top:40px; left:0; right:0; bottom:30px; width:260px; background-color:#101629 } /* converted from area_list */
#panelListTab { top:0; left:0; right:0; height:24px; background: #12192b }
#panelListContent { top:25px; left:0; right:0; bottom:0; background: #12192b }

ul#panelListContent { list-style-type:none }
ul#panelListContent>li { border:1px solid rgba(255, 255, 255, 0.2); border-radius:4px; padding:3px; line-height:0; margin:2px; background-color:#3c4460; cursor:pointer; position:relative; overflow:hidden }

ul#panelListContent>li.undef { background-color:#4c4c4c; color:#333333 }
ul#panelListContent>li.min>div.progressBar { background-color:#FF0000 }
ul#panelListContent>li.inf>div.progressBar { background-color:#FF0000 }
ul#panelListContent>li.moy>div.progressBar { background-color:#0080FF }
ul#panelListContent>li.sup>div.progressBar { background-color:#00FF00 }
ul#panelListContent>li.max>div.progressBar { background-color:#00FF00 }

ul#panelListContent>li>div.progressBar { position:absolute; top:0; left:0; height:2px; width:0; border:1px solid black }
ul#panelListContent>li:hover { background-color:#fcfce1 }
ul#panelListContent>li:hover>p { color:black }
ul#panelListContent>li.active, ul#panelListContent>li.active:hover { background-color:#FFFFFF }
ul#panelListContent>li.active>p, ul#panelListContent>li.active:hover>p { color:black }
ul#panelListContent>li>img { width:40px; height:40px; border-radius:4px; vertical-align:sub; position:relative }
ul#panelListContent>li>img.tier2 { left:3px; position:absolute; top:3px }
ul#panelListContent>li>p { line-height:20px; font-size:13px; margin-left:3px; display:inline-block; position:relative; color:rgba(255, 255, 255, 0.6); z-index:50 }
ul#panelListContent>li>p>span.chiffre { font-size:12px }
ul#panelListContent>li>p>span.character_type { display:inline-block; width:14px; height:14px; margin-right:2px; background-repeat:no-repeat; border-radius:4px; vertical-align:middle }

ul#panelListContent>li.combat>p>span.character_type { background-color:#D62918 }
ul#panelListContent>li.blast>p>span.character_type { background-color:#15B1FF }
ul#panelListContent>li.speed>p>span.character_type { background-color:#1AD105 }
ul#panelListContent>li.universal>p>span.character_type { background-color:#CB46DB }

.lineDetailGear { position:absolute; right:0; z-index:10 }
.lineDetailGear span { float:left; width:6px; height:6px; background-color:black }

.lineDetailGear1 { top:calc(20% - 3px) }
.lineDetailGear2 { top:calc(40% - 3px) }
.lineDetailGear3 { top:calc(60% - 3px) }
.lineDetailGear4 { top:calc(80% - 3px) }

.lineDetailGear span.undef { background-color:#F0F0F0 }
.lineDetailGear span.min { background-color:#FF0000 }
.lineDetailGear span.inf { background-color:#FFCCCC }
.lineDetailGear span.moy { background-color:#99CCFF }
.lineDetailGear span.sup { background-color:#CCFFCC }
.lineDetailGear span.max { background-color:#00FF00 }

ul#panelListContent.render-icon>li { width:40px; display:inline-block; margin:2px }
ul#panelListContent.render-icon>li .lineDetailGear,
ul#panelListContent.render-icon>li>p { display:none }


#panelDetail { top:40px; left:260px; right:0; bottom:30px; background-color:#000; background-size:100%; background-repeat:no-repeat } /* converted from area_detail */



#area_action, #area_detail, #area_list, #area_detail_charts, #area_charts, #footer { display:none !important }
#area_detail_charts { top:332px; left:0; right:0; bottom:30px }
#area_charts { top:41px; left:0; right:0; bottom:30px }



#panelFooter { bottom:0; left:0; right:0; height:30px; overflow:hidden; background-color:#12192b } /* converted from footer */
#panelFooter span { display:inline-block; font:10px/20px verdana; color:white; padding:1px 5px; border:1px solid rgba(255, 255, 255, 0.5) }
#panelFooter span#MFFversion { position:absolute; right:3px; bottom:3px }
#panelFooter span#nbTiers { position:absolute; left:3px; bottom:3px }
