* { padding:0; margin:0; list-style-type:none; font-family:verdana }
body { background-color:#000; background-size:100%; background-repeat:no-repeat }

.MFFVersion { float:right; font:12px/35px verdana; margin-right:5px; color:#FFFFFF }

.bgOpaque { background-color:rgba(0,0,0,0.5); border-radius:4px }

#area_action { position:absolute; top:0; left:0; right:0; height:40px; overflow:hidden; z-index:2 }
#area_detail { position:absolute; top:40px; left:0; right:0; height:286px; overflow:auto; z-index:1 }
#area_list { position:absolute; top:326px; left:0; right:0; bottom:30px; overflow:auto; z-index:1 }
#area_detail_charts { position:absolute; top:332px; left:0; right:0; bottom:30px; overflow:auto; z-index:1 }
#area_charts { position:absolute; top:41px; left:0; right:0; bottom:30px; overflow:auto; z-index:1 }
#footer { position:absolute; bottom:0; left:0; right:0; height:30px }

#area_detail_charts>div { width:20%; display:inline-block }

span.chartAxis { }
span.chartAxis select { margin-left:10px }
span.chartAxis select, span.chartAxis option { font:12px/20px verdana }

.render_list #area_list { display:block }
.render_list #area_detail { display:block }
.render_list #area_detail_charts { display:none }
.render_list .button.showList { display:none }
.render_list .button.showCharts { display:inline-block }
.render_list .sorter { display:inline-block }
.render_list .imageButton { display:inline-block }
.render_list #area_charts { display:none }
.render_list #query { display:inline }
.render_list #clearQuery { display:inline }
.render_list .chartAxis { display:none }


.render_charts #area_list { display:none }
.render_charts #area_detail { display:none }
.render_charts #area_detail_charts { display:none }
.render_charts .button.showList { display:inline-block }
.render_charts .button.showCharts { display:none }
.render_charts .sorter { display:none }
.render_charts .imageButton { display:inline-block }
.render_charts #area_charts { display:block }
.render_charts #query { display:none }
.render_charts #clearQuery { display:none }
.render_charts .chartAxis { display:inline-block; }


.render_detail_charts #area_list { display:none }
.render_detail_charts #area_detail { display:block }
.render_detail_charts #area_detail_charts { display:block }
.render_detail_charts .button.showList { display:none }
.render_detail_charts .button.showCharts { display:none }
.render_detail_charts .sorter { display:none }
.render_detail_charts .imageButton { display:none }
.render_detail_charts #area_charts { display:none }
.render_detail_charts #query { display:none }
.render_detail_charts #clearQuery { display:none }
.render_detail_charts .chartAxis { display:none }



input, select { border:0 }
input { border-radius:4px }

#query { border:1px solid #999999; font:14px/20px verdana; padding:2px 4px; vertical-align:middle; width:150px }
#clearQuery { color:#999999; left:-16px; position:relative; top:2px; cursor:pointer }
#clearQuery:hover { color:#000000 }

.sorter i { display:none }
.sorter .active.asc i.fa-chevron-down { display:inline }
.sorter .active.desc i.fa-chevron-up { display:inline }

.tiers { display:inline-block; line-height:30px; margin-left:5px; color:#FFFFFF; padding:2px 20px 5px 20px; position:relative; top:1px; line-height:20px }
#area_action span.text { font-size:12px }
#nbTier1, #nbTier2, #readyTier2 { margin:0 10px 0 5px }

#area_detail div.choose_character { text-align:center }
#area_detail div.choose_character span { font:bold 30px/160px verdana; color:#FFFFFF; padding:20px 100px }

#area_detail div.copyright { margin:auto; width:750px; text-align:center; font:10px/14px verdana; color:#FFFFFF; padding:2px 120px }

ul#allCharacters { }
ul#allCharacters>li { border:1px solid #77797c; border-radius:4px; padding:3px; display:inline-block; line-height:0; margin:5px 10px; background-color:rgba(255, 255, 255, 0.8); cursor:pointer; position:relative; overflow:hidden }
ul#allCharacters>li>div.progressBar { position:absolute; top:0; left:0; bottom:0; width:0 }
ul#allCharacters>li:hover,
ul#allCharacters>li:hover>div.progressBar { background-color:#FFFFCC !important; color:#000000 !important }
ul#allCharacters>li.active, ul#allCharacters>li.active:hover { background-color:#FFFFFF !important }
ul#allCharacters>li>img { width:40px; height:40px; border-radius:4px; vertical-align:sub; position:relative }
ul#allCharacters>li>img.tier2 { left:3px; position:absolute; top:3px }
ul#allCharacters>li>p { line-height:20px; font-size:13px; margin-left:3px; display:inline-block; position:relative; color:#000000; z-index:50 }
ul#allCharacters>li>p>span.chiffre { font-size:12px }
ul#allCharacters>li>p>span.character_type { display:inline-block; width:14px; height:14px; margin-right:2px; background-repeat:no-repeat; border-radius:4px; vertical-align:middle }

ul#allCharacters>li.combat>p>span.character_type { background-color:#D62918 }
ul#allCharacters>li.blast>p>span.character_type { background-color:#15B1FF }
ul#allCharacters>li.speed>p>span.character_type { background-color:#1AD105 }
ul#allCharacters>li.universal>p>span.character_type { background-color:#CB46DB }


.lineDetailGear { position:absolute; right:0; z-index:10 }
.lineDetailGear span { float:left; width:6px; height:6px; background-color:black }

.lineDetailGear1 { top:calc(20% - 3px) }
.lineDetailGear2 { top:calc(40% - 3px) }
.lineDetailGear3 { top:calc(60% - 3px) }
.lineDetailGear4 { top:calc(80% - 3px) }

#area_detail>table { width:100% }
#area_detail>table>tbody>tr>td { }
#area_detail>table>tbody>tr>td.picture { vertical-align:top; width:195px; position:relative }
#area_detail>table>tbody>tr>td.picture>* { position:fixed }
#area_detail>table>tbody>tr>td.picture>h1 { font:bold 14px/24px verdana; color:#FFFFFF; top:40px; width:194px; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center }
#area_detail>table>tbody>tr>td.picture>h2 { padding:2px 2px 2px 4px; font:12px/24px verdana; color:#FFFFFF; top:68px; width:188px; text-align:center }
#character_level { font:12px/14px verdana; text-align:center; width:35px; margin-right:5px }
#character_tier, #character_tier option { font:11px/14px verdana }

#typeSideGender { top:140px; left:95px; z-index:11; padding:4px 2px 2px 2px }
#typeSideGender img { display:inline-block; width:20px; height:20px; margin:0 5px }

#area_detail>table>tbody>tr>td.picture>img.characterPicture, #area_detail>table>tbody>tr>td.picture>.tier2 { top:132px }
#area_detail>table>tbody>tr>td.picture>img.characterPicture { z-index:10 }
#area_detail>table>tbody>tr>td.picture>.tier2 { z-index:20 }
/* TODO : fix image source */
img.characterPicture { filter:brightness(125%) }


.tier2 { display:none }
.tier2 .tier2 { display:block }

select#uniform { top:102px; width:194px }
select#uniform, select#uniform option { font:12px/24px verdana; vertical-align:middle }

#area_detail>table>tbody>tr>td.picture>i { color:white; font-size:40px; top:210px; opacity:0.2; cursor:pointer; z-index:100 }
#area_detail>table>tbody>tr>td.picture>i:hover { opacity:1 }
#area_detail>table>tbody>tr>td.picture>i.fa-chevron-right { left:170px }
#area_detail>table>tbody>tr>td.picture>i.fa-chevron-left { left:5px }
#area_detail>table>tbody>tr>td.picture>i.fa-line-chart { top:295px; left:163px; font-size:16px; cursor:pointer; opacity:0.6 }
#area_detail>table>tbody>tr>td.picture>i.fa-line-chart:hover { opacity:1 }

#area_detail>table>tbody>tr>td.content { vertical-align:top }

#area_detail td.content div.forms { display:inline-block; white-space:nowrap; margin-right:10px }
#area_detail td.content .forms td.title { padding:0 }
#area_detail td.content .forms td.title h2 { text-align:center; background-color:white; border-top-left-radius:4px; border-top-right-radius:4px; color:black; font:12px/16px verdana; min-width:180px }
#area_detail td.content .forms th, #area_detail td.content .forms td { text-align:left; padding:2px }
#area_detail td.content .forms th { color:white; font:12px/16px verdana }
#area_detail td.content .forms td { text-align:center }
#area_detail td.content .forms td input { text-align:center; font:12px/16px verdana; width:70px; vertical-align:top }
#area_detail td.content .forms td span { color:white; font:12px/16px verdana; vertical-align:top }

#area_detail td.content .gear { background-color:#ffffff; display:inline-block; margin:5px; padding:2px; border-radius:4px }
#area_detail td.content .gear table { width:100%; border-collapse:collapse }
#area_detail td.content .gear td { padding:2px }
#area_detail td.content .gear * { font:10px/12px verdana }
#area_detail td.content .gear input[type="text"] { text-align:center; border:1px solid #000000 }

#area_detail td.content tr.invalide td { background-color:yellow; color:#333333 }
#area_detail td.content h1 img { width:30px; height:30px; vertical-align:middle; margin:0 5px 3px 0 }

#skills { margin:1px 3px }
.skill_lvl { font:12px/14px verdana; padding:2px }
select.skill_lvl { width:calc(20% - 4px); margin:0 2px }
span.skill_lvl { display:inline-block; width:calc(20% - 8px); margin:2px; color:#FFFFFF }
.skill_lvl > option { font:10px/16px verdana }

#current_percent { color:white; font:bold 20px/30px verdana; top:285px; text-align:center; z-index:20; width:175px; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; margin:0 10px }

#footer span { display:inline-block; font:10px/20px verdana; color:white; padding:1px 5px }
#footer span#MFFversion { position:absolute; right:3px; bottom:3px }
#footer span#nbTiers { position:absolute; left:3px; bottom:3px }

@media (min-width: 1px) {
  ul#allCharacters>li { width:calc(100% - 28px) }
  #area_detail td.content .gear { width:calc(100% - 14px) }
}

@media (min-width: 768px) {
  ul#allCharacters>li { width:calc(50% - 28px) }
  #area_detail td.content .gear { width:calc(50% - 14px) }
}

@media (min-width: 992px) {
  ul#allCharacters>li { width:calc(25% - 28px) }
}
@media (min-width: 1300px) {
  ul#allCharacters>li { width:calc(20% - 28px) }
  #area_detail td.content .gear { width:calc(25% - 14px) }
}

@media (min-width: 1050px) {
  #area_detail td.content h1>br { display:none }
}

@media (min-width: 1800px) {
  ul#allCharacters>li { width:calc(12.5% - 28px) }
}