* { padding:0; margin:0; list-style-type:none; font-family:verdana }
body {  }

.MFFVersion { float:right; font:12px/35px verdana; margin-right:5px; color:#FFFFFF }

.bgOpaque { background-color:rgba(0,0,0,0.5); border-radius:4px }


#area_detail_charts>div { width:20%; display:inline-block }

span.chartAxis { }
span.chartAxis select { margin-left:10px }
span.chartAxis select, span.chartAxis option { font:12px/20px verdana }

.render_list #area_list { display:block }
.render_list #area_detail { display:block }
.render_list #area_detail_charts { display:none }
.render_list .button.showList { display:none }
.render_list .button.showCharts { display:inline-block }
.render_list .sorter { display:inline-block }
.render_list .imageButton { display:inline-block }
.render_list #area_charts { display:none }
.render_list #query { display:inline }
.render_list #clearQuery { display:inline }
.render_list .chartAxis { display:none }


.render_charts #area_list { display:none }
.render_charts #area_detail { display:none }
.render_charts #area_detail_charts { display:none }
.render_charts .button.showList { display:inline-block }
.render_charts .button.showCharts { display:none }
.render_charts .sorter { display:none }
.render_charts .imageButton { display:inline-block }
.render_charts #area_charts { display:block }
.render_charts #query { display:none }
.render_charts #clearQuery { display:none }
.render_charts .chartAxis { display:inline-block; }


.render_detail_charts #area_list { display:none }
.render_detail_charts #area_detail { display:block }
.render_detail_charts #area_detail_charts { display:block }
.render_detail_charts .button.showList { display:none }
.render_detail_charts .button.showCharts { display:none }
.render_detail_charts .sorter { display:none }
.render_detail_charts .imageButton { display:none }
.render_detail_charts #area_charts { display:none }
.render_detail_charts #query { display:none }
.render_detail_charts #clearQuery { display:none }
.render_detail_charts .chartAxis { display:none }



input, select { border:0 }
input { border-radius:4px }



.tiers { display:inline-block; line-height:30px; margin-left:5px; color:#FFFFFF; padding:2px 20px 5px 20px; position:relative; top:1px; line-height:20px }
#area_action span.text { font-size:12px }
/* #nbTier1, #nbTier2, #readyTier2 { margin:0 10px 0 5px } */







@media (min-width: 1px) {
  /*ul#allCharacters>li { width:calc(100% - 28px) }*/
  #area_detail td.content .gear { width:calc(100% - 14px) }
}

@media (min-width: 768px) {
  /*ul#allCharacters>li { width:calc(50% - 28px) }*/
  #area_detail td.content .gear { width:calc(50% - 14px) }
}

@media (min-width: 992px) {
  /*ul#allCharacters>li { width:calc(25% - 28px) }*/
}
@media (min-width: 1300px) {
  /*ul#allCharacters>li { width:calc(20% - 28px) }*/
  #area_detail td.content .gear { width:calc(25% - 14px) }
}

@media (min-width: 1050px) {
  #area_detail td.content h1>br { display:none }
}

@media (min-width: 1800px) {
  /*ul#allCharacters>li { width:calc(12.5% - 28px) }*/
}