* { padding:0; margin:0; list-style-type:none; font-family:arial }

input, select { border:0 }
input { border-radius:4px }

.bgOpaque { background-color:rgba(0,0,0,0.5); border-radius:4px; border:1px solid rgba(255, 255, 255, 0.2) }

.panel { position:absolute; z-index:1; overflow:auto }
.panelRelative { position:relative; z-index:1; overflow:auto }

.tier1 .tier2 { display:none }
.tier2 .tier2 { display:block }

#panelAction { top:0; left:0px; right:0; height:40px; overflow:hidden; background:linear-gradient(to bottom, #666e92 0%,#3c4460 50%,#12192b 100%) } /* converted from area_action */

span.button.sorterDirection { margin-left:-24px; border-left:0; border-top-left-radius:0; border-bottom-left-radius:0 }

#query { border:1px solid #999999; font:12px/20px arial; padding:1px 4px; vertical-align:top; width:125px; margin-top:6px }
#clearQuery { color:#999999; margin-left:-16px; cursor:pointer; position:absolute; top:10px }
#clearQuery+span { margin-left:10px }
#clearQuery:hover { color:#000000 }

#panelList { top:40px; left:0; right:0; bottom:30px; width:260px; background-color:#101629 }
#panelListTab { top:0; left:0; right:0; height:24px; background: #12192b }
#panelListContent { top:25px; left:0; right:0; bottom:0; background: #12192b }

ul#panelListContent { list-style-type:none }
ul#panelListContent>li { transition:background-color 1s ease; border:1px solid rgba(255, 255, 255, 0.2); border-radius:4px; padding:3px; line-height:0; margin:2px; background-color:#3c4460; cursor:pointer; position:relative; overflow:hidden }

ul#panelListContent>li.undef { background-color:#4c4c4c; color:#333333 }
ul#panelListContent>li.min>div.progressBar { background-color:#FF0000 }
ul#panelListContent>li.inf>div.progressBar { background-color:#FF0000 }
ul#panelListContent>li.moy>div.progressBar { background-color:#0080FF }
ul#panelListContent>li.sup>div.progressBar { background-color:#00FF00 }
ul#panelListContent>li.max>div.progressBar { background-color:#00FF00 }

ul#panelListContent>li>div.progressBar { position:absolute; top:0; left:0; height:2px; width:0; border:1px solid black }
ul#panelListContent>li:hover { border-color:gold }
ul#panelListContent>li.active, ul#panelListContent>li.active:hover { background-color:#FFFFFF }
ul#panelListContent>li.active>p, ul#panelListContent>li.active:hover>p { color:black }
ul#panelListContent>li>img { width:40px; height:40px; border-radius:4px; vertical-align:sub; position:relative }
ul#panelListContent>li>img.tier2 { left:3px; position:absolute; top:3px }
ul#panelListContent>li>p { line-height:20px; font-size:13px; margin-left:3px; display:inline-block; position:relative; color:rgba(255, 255, 255, 0.6); z-index:50 }
ul#panelListContent>li>p>span.chiffre { font-size:12px }
ul#panelListContent>li>p>span.character_type { display:inline-block; width:14px; height:14px; margin-right:2px; background-repeat:no-repeat; background-size:14px 14px; vertical-align:middle }
ul#panelListContent>li>p>span.character_sub { display:inline-block; min-height:14px; font:10px/12px arial }

ul#panelListContent>li.combat>p>span.character_type { background-image:url(../images/combat.png) }
ul#panelListContent>li.blast>p>span.character_type { background-image:url(../images/blast.png) }
ul#panelListContent>li.speed>p>span.character_type { background-image:url(../images/speed.png) }
ul#panelListContent>li.universal>p>span.character_type { background-image:url(../images/universal.png) }

.lineDetailGear { position:absolute; right:0; z-index:10 }
.lineDetailGear span { float:left; width:6px; height:6px; background-color:black }

.lineDetailGear1 { top:calc(20% - 3px) }
.lineDetailGear2 { top:calc(40% - 3px) }
.lineDetailGear3 { top:calc(60% - 3px) }
.lineDetailGear4 { top:calc(80% - 3px) }

.lineDetailGear span.undef { background-color:#F0F0F0 }
.lineDetailGear span.min { background-color:#FF0000 }
.lineDetailGear span.inf { background-color:#FFCCCC }
.lineDetailGear span.moy { background-color:#99CCFF }
.lineDetailGear span.sup { background-color:#CCFFCC }
.lineDetailGear span.max { background-color:#00FF00 }

#panelDetailGearsContent tr.invalide td { background-color:yellow; color:#333333 }
#panelDetailGearsContent tr.undef td { background-color:#F0F0F0; color:#333333 }
#panelDetailGearsContent tr.min td { background-color:#FF0000; color:#FFFFFF }
#panelDetailGearsContent tr.inf td { background-color:#FFCCCC; color:#333333 }
#panelDetailGearsContent tr.moy td { background-color:#99CCFF; color:#333333 }
#panelDetailGearsContent tr.sup td { background-color:#CCFFCC; color:#333333 }
#panelDetailGearsContent tr.max td { background-color:#00FF00; color:#333333 }


ul#panelListContent.render-icon>li { width:40px; display:inline-block; margin:2px }
ul#panelListContent.render-icon>li .lineDetailGear,
ul#panelListContent.render-icon>li>p { display:none }

#panelGlobalChart { top:40px; left:0; right:0; bottom:30px }

#panelDetail { top:40px; left:260px; right:0; bottom:30px; background-color:#000; background-size:cover; background-position:50% 50%; background-repeat:no-repeat; overflow:hidden }

#panelDetailContent { }
#panelDetailGearsTab { height:24px; padding-left:5px }
#panelDetailGearsContent { }

div.choose_character { text-align:center }
div.choose_character span { font:bold 30px/160px arial; color:#FFFFFF; padding:20px 100px }
div.copyright { margin:auto; width:750px; text-align:center; font:10px/14px arial; color:#FFFFFF; padding:2px 120px }
#panelDetailContent>table { width:100% }

#panelDetailContent .picture { position:relative; vertical-align:top }
#panelDetailContent .character, #panelDetailContent .tier2 { width:150px; height:150px }
#panelDetailContent .character { z-index:10 }
#panelDetailContent .tier2 { position:absolute; top:0; z-index:20 }
/* TODO : fix image source */
#panelDetailContent .character { filter:brightness(125%) }
#panelDetailContent .picture i { color:white; font-size:30px; position:absolute; top:70px; opacity:0.2; cursor:pointer; z-index:100 }
#panelDetailContent .picture i:hover { opacity:1 }
#panelDetailContent .picture i.fa-chevron-right { left:125px }
#panelDetailContent .picture i.fa-chevron-left { left:5px }
#current_percent { color:white; font:bold 15px/25px arial; position:absolute; top:120px; left:10px; text-align:center; z-index:20; width:130px; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black }

#attributes { text-align:center }
#attributes img { width:15px; margin:3px 10px 0 10px }

#panelDetailContent h1 { font:bold 16px/28px arial; color:#FFFFFF; margin-top:0; margin-bottom:2px; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black }
#panelDetailContent h1 label#lblRank { float:right; margin-right:5px; color:#00cc27 }
#lblRank input { text-align:center; padding:2px 0; width:45px; margin-left:5px; color:#00cc27; background-color:transparent }
/* do not group placeholder rules */
#lblRank input::-webkit-input-placeholder { color:#00cc27 }
#lblRank input:-moz-placeholder { color:#00cc27 }
#lblRank input::-moz-placeholder { color:#00cc27 }
#lblRank input:-ms-input-placeholder { color:#00cc27 }
#panelDetailContent h1 label#lblCombatPower { float:right; margin-right:5px}
#lblCombatPower input { text-align:center; padding:2px 10px; width:60px; margin-left:5px }
#panelDetailContent h1 label { float:left; margin-left:5px; font-size:12px; white-space:nowrap; font-weight:normal }
#character_level { font:14px/20px arial; text-align:center; width:30px; margin-right:2px; margin-left:2px }
#panelDetailContent h1 select { float:left; margin:4px 10px 0 5px }
#character_tier, #character_tier option { font:14px/20px arial }

#panelDetailGearsContent>div.chart { width:calc(20% - 12px); display:inline-block; margin:5px }

#panelDetailContent td.content { vertical-align:top }

#panelDetailContent td.content div.forms { display:inline-block; white-space:nowrap; margin-right:10px; margin-top:3px }
#panelDetailContent td.content .forms td.title { padding:0 }
#panelDetailContent td.content .forms td.title h2 { text-align:center; background:linear-gradient(to bottom, #666e92 0%, #3c4460 50%, #12192b 100%); border-top-left-radius:4px; border-top-right-radius:4px; color:#fff; font:12px/22px arial; min-width:180px }
#panelDetailContent td.content .forms th, #panelDetail td.content .forms td { text-align:left; padding:2px }
#panelDetailContent td.content .forms th { color:white; font:12px/16px arial }
#panelDetailContent td.content .forms td { text-align:center }
#panelDetailContent td.content .forms td input { text-align:center; font:12px/16px arial; width:50px; vertical-align:top }
#panelDetailContent td.content .forms td span { color:white; font:12px/16px arial; vertical-align:top }

#panelDetailGearsContent .gear { display:inline-block; margin:5px; padding:2px; border-radius:4px }
#panelDetailGearsContent .gear select.changeAll { display:inline-block; width:50% }
#panelDetailGearsContent .gear table { width:100%; border-collapse:collapse }
#panelDetailGearsContent .gear td { padding:2px; background-color:#ffffff }
#panelDetailGearsContent .gear * { font:10px/12px arial }
#panelDetailGearsContent .gear input[type="text"] { text-align:center; border:1px solid #000000 }
#panelDetailGearsContent .gear h1 { border-top-left-radius:4px; border-top-right-radius:4px; background:linear-gradient(to bottom, #666e92 0%, #3c4460 50%, #12192b 100%); color:white; font:100 14px/24px arial; padding:2px 0; text-align:center; overflow:hidden }

@media (min-width: 1px) { #panelDetailGearsContent .gear { width:calc(100% - 16px) } }
@media (min-width: 768px) { #panelDetailGearsContent .gear { width:calc(50% - 16px) } }
@media (min-width: 1300px) { #panelDetailGearsContent .gear { width:calc(25% - 16px) } }

.skill_lvl { font:12px/14px arial; padding:2px }
select.skill_lvl { width:calc(20% - 4px); margin:0 2px }
span.skill_lvl { display:inline-block; width:calc(20% - 8px); margin:2px; color:#FFFFFF }
.skill_lvl > option { font:10px/16px arial }

#panelFooter { bottom:0; left:0; right:0; height:30px; overflow:hidden; background-color:#12192b }
#panelFooter span { display:inline-block; font:10px/18px arial; color:white; padding:1px 5px; border:1px solid rgba(255, 255, 255, 0.5) }
#panelFooter span#MFFversion { position:absolute; right:3px; bottom:3px }
#panelFooter span#nbTiers { position:absolute; left:3px; bottom:3px }
#panelFooter span#submitIssues { position:absolute; left:170px; bottom:3px }
#panelFooter span#submitIssues a:link, #panelFooter span#submitIssues a:visited { color:white }

#panelFooter span#MFFversion.beta::before { content:"BETA"; background-color:#630000; color:white; position:absolute; left:-40px; padding:1px 5px; border-radius:4px }
#panelFooter span#MFFversion.localhost::before { content:"localhost"; background-color:#006363; color:white; position:absolute; left:-60px; padding:1px 5px; border-radius:4px }

#uniformsLeftPanel, #uniformsRightPanel { position:absolute; top:0; bottom:0 }
#uniformsLeftPanel { left:0; width:150px; overflow:auto }
#uniformsRightPanel { left:150px; right:0; overflow:auto }
#uniformsLeftPanel li { cursor:pointer; text-align:center; margin:5px }
#uniformsLeftPanel li:hover { border-color:gold }
#uniformsLeftPanel li.active, #uniformsLeftPanel li.active:hover { background-color:white }
#uniformsLeftPanel li.active h1, #uniformsLeftPanel li.active:hover h1,
#uniformsLeftPanel li.active h2, #uniformsLeftPanel li.active:hover h2 { color:black }
#uniformsLeftPanel h1 { font:12px/20px arial; color:white }
#uniformsLeftPanel img { width:100px; height:100px }
h2.rank { font:10px/14px arial; color:white }
.ranks { position:relative; margin-left:20px; display:inline-block }
.ranks span, .ranks h2.rank { font:12px/16px arial; color:white; cursor:pointer }
h2.rank.unowned { color:#DDD }
h2.rank.normal { }
h2.rank.advanced { color:#00cc27 }
h2.rank.rare { color:cyan }
h2.rank.heroic { color:#b12bb1 }
h2.rank.legendary { color:orange }
h2.rank.mythical { color:red }
.ranks .select { position:absolute; top:2px; left:32px; background-color:black; cursor:pointer; z-index:10 }
.ranks .select h2 { padding:4px 15px; white-space:nowrap }
.ranks .select h2:hover { color:black !important; background-color:white }
.ranks .current { display:inline-block; margin-left:5px; cursor:pointer }
#uniformsRightPanel div.uniformOwned { margin:5px; padding:5px 10px }
#uniformsRightPanel div.requiredUniforms { margin:5px; float:left; padding:5px 10px }
#uniformsRightPanel div.requiredUniforms h1 { font:12px/16px arial; color:gold }
#uniformsRightPanel div.requiredUniforms h2 { text-align:center }
#uniformsRightPanel div.requiredUniforms td { position:relative }
#uniformsRightPanel div.requiredUniforms i.fa.fa-lock { font-size:50px; color:rgba(255, 255, 255, 0.6); position:absolute; left:50px; background-color:transparent; border:0; margin:0; padding:0; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; cursor:pointer }
#uniformsRightPanel div.requiredUniforms tr.up i.fa.fa-lock { top:55px }
#uniformsRightPanel div.requiredUniforms tr.down i.fa.fa-lock { top:43px }
.rankOptions { margin:5px 0; text-align:center }
.rankOptions.disabled { opacity:0.5 }
.rankOptions * { text-align:center }
.rankOptions select { font:10px/12px arial; width:120px; display:block }
.rankOptions span { display:inline-block; width:30px; font:10px/12px arial; color:white }
.rankOptions input { display:inline-block; width:30px; font:10px/12px arial }
.rankOptions input.invalide { background-color:yellow; color:#333333 }
.rankOptions input.undef { background-color:#f0f0f0; color:#333333 }
.rankOptions input.min { background-color:#FF0000; color:#FFFFFF }
.rankOptions input.inf { background-color:#FFCCCC; color:#333333 }
.rankOptions input.moy { background-color:#99CCFF; color:#333333 }
.rankOptions input.sup { background-color:#CCFFCC; color:#333333 }
.rankOptions input.max { background-color:#00FF00; color:#333333 }

#uniformsRightPanel table { border-collapse:collapse }
#uniformsRightPanel img { width:60px; height:60px; display:block; margin:0 auto; cursor:pointer }
#uniformsRightPanel td { padding:5px; width:90px; border-spacing:0 }
#uniformsRightPanel .up td { padding-bottom:0 }
#uniformsRightPanel .down td { padding-top:0 }
#uniformsRightPanel td i { display:block; margin:auto; width:2px; height:20px; background-color:white }
#uniformsRightPanel th { padding:0 }
#uniformsRightPanel th div { height:2px; width:522px; background-color:white; margin:auto }
#uniformsRightPanel .uniformBonus { display:inline-block; padding:5px 10px; min-width:300px; float:left; margin:5px }
#divDevelopment { padding-top:5px }
#uniformsRightPanel .uniformBonus h1 { font:12px/16px arial; color:gold }
#uniformsRightPanel .uniformBonus span { font:12px/16px arial; color:white; display:block; margin-bottom:2px }
#uniformsRightPanel .uniformBonus span.cooldown { color:#00cc27 }
#uniformsRightPanel p { font:12px/16px arial; color:white; margin:5px }
#uniformsRightPanel p a:link, #uniformsRightPanel p a:visited { color:white }
#uniformsRightPanel .linkedUniforms { clear:both; padding:5px 10px; min-width:650px; float:left; margin:5px }
#uniformsRightPanel .linkedUniforms h1 { font:12px/16px arial; color:gold }
#uniformsRightPanel .linkedUniforms li { color:white; padding:2px; font:12px/16px arial }
#uniformsRightPanel .linkedUniforms li:not(.noLinkedUniforms) { display:inline-block; cursor:pointer }
#uniformsRightPanel .linkedUniforms li img { width:50px; height:50px; margin:5px }
#uniformsRightPanel .linkedUniforms h2 { text-align:center }

.selectCharacters {}
.selectCharacters li { display:inline-block; cursor:pointer; position:relative; position:2px }
.selectCharacters img { width:45px; height:45px; opacity:0.5 }
.selectCharacters img.tier2 { position:absolute; top:0; left:0 }
.selectCharacters li.checked img { opacity:1 }

#nbSelectedForExport { float:right; font:12px/30px arial; font-style:normal; color:white; margin-right:5px }