.DSxToggle { position:relative; display:inline-block; vertical-align:middle; margin:0 5px }
.DSxToggle input { display:none }
.DSxToggle .slider { position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#ccc; transition:.4s; box-shadow:1px 1px 0 rgba(0, 0, 0, 0.4) inset }
.DSxToggle .slider:before { position:absolute; content:""; background-color:white; transition:.4s; border-radius:50%; box-shadow:1px 1px 0 rgba(0,0,0,0.4) }
.DSxToggle input:checked + .slider { background-color: #2196F3 }
.DSxToggle input:focus + .slider { box-shadow:0 0 1px #2196F3 }

.DSxToggle { width:45px; height:25.5px }
.DSxToggle .slider { border-radius:25.5px }
.DSxToggle .slider:before { height:19.6px; width:19.6px; left:3px; bottom:3px }
.DSxToggle input:checked + .slider:before { transform:translateX(19.6px) }

.DSxToggle.large { width:60px; height:34px }
.DSxToggle.large .slider { border-radius:34px }
.DSxToggle.large .slider:before { height:26px; width:26px; left:4px; bottom:4px }
.DSxToggle.large input:checked + .slider:before { transform:translateX(26px) }

.DSxToggle.small { width:30px; height:17px }
.DSxToggle.small .slider { border-radius:17px }
.DSxToggle.small .slider:before { height:13px; width:13px; left:3px; bottom:2px }
.DSxToggle.small input:checked + .slider:before { transform:translateX(13px) }


.DSxToggle.square .slider { border-radius:4px }
.DSxToggle.square .slider::before { width:3px; border-radius:2px }

.DSxToggle.square input:checked + .slider:before { transform:translateX(36px) }

.DSxToggle.square.large input:checked + .slider:before { transform:translateX(50px) }

.DSxToggle.square.small input:checked + .slider:before { transform:translateX(22px) }